<!-- <div class="sidebarMain">
  <div *ngIf="renderJF">
    <div *ngFor="let jf of user.JobFunctions">
      <details>
          <summary>{{jf.title}}</summary>
            <div *ngFor="let child of jf.SubFunctions">
                <a class="navLink" routerLink="jobFunction/{{jf.id}}/subFunction/{{child.id}}">
                    <div> {{child.subId}} {{child.papperId}}</div>
                </a>
            </div>
      </details>
    </div>
  </div>
  <a class="navLink">
    <p>About</p>
  </a>
  <a class="navLink">
    <p>Fun Stuff</p>
  </a>
</div> -->