<div class="container">
    <div class="mainLogin">
        <div class="formContainer">
            <div class="myForm">
                <h1>Login Instructions</h1>
                <div style="color: #E9E9E9; text-align: left; line-height: 1.5em;">
                    <p></p>
                    <p></p>
                    <p>The accounts for this site are tied to the github accounts that you provided at the beginning of
                        the apprenticeship program.
                        <i>If you are using a new or different github account</i>, please feel free to reach out to the
                        site admins.
                    </p>

                    <p>
                        <br /><br />
                        If you recieved an invitation to become a viewer of this site, then please visit the log-in link
                        provided in your invite email.
                        This log-in page is only for participants of the Apprenticeship program, invited viewers will
                        have separate log-in instructions send to the email
                        they provided the Multiverse coach.
                    </p>

                    <p><br /><br />If you have stumbled across this page by accident then, my oh my, you have really
                        <i>have</i> scoured all
                        of the internet to find some answers about the Google Software Engineering Apprenticeship
                        Program. And if that
                        is the case, then I'm sorry to inform you that this is going to be a dead end
                    </p>

                    <p><br /><br />Thank you for understanding,</p>
                    <p>CJ - Frontend</p>
                    <p>Dinalisse - Backend</p>
                </div>

                <p><br /><br />Click <a routerLink="/login">here</a> to return to the login screen</p>
            </div>
        </div>
    </div>
</div>