
.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  /* height: 100%;
  width: 100%; */
  background-color: #5C89CC;
  color: white;
  grid-auto-flow: row;
  grid-template-areas:
    "blank bannerText login";
}

.bannerText {
  justify-self: stretch;
  grid-area: bannerText;
  padding: 10px;
  text-align: center;
}

.login {
  justify-self: end;
  align-self: center;
  grid-area: login;
  margin-right: 10px;
}

.blank {
  justify-self: start;
  grid-area: blank;
}

.homeButton {
  background-color: #d9d9d9;
  color: black;
  font-family: "BIZ UDPGothic", sans-serif;
  font-size: medium;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  /* max-width: 50%;
  min-width: 25%; */

}

.homeButton:hover{
  background-color: #93A5C0;
  cursor: pointer;
}
